<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Send Message</title>
            <!-- For CLoud Uncomment -->
    <link rel="stylesheet"  href= "{{ url_for('static',filename='css/global.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    
    <script src="{{ url_for('static', filename='js/crypto.js') }}"></script> 
    <!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

    <!-- FOr local -->

    <!-- <link rel="stylesheet"  href= "../static/css/global.css">
    <script src="../static/js/app.js" type="text/javascript"></script>
    <script src="../static/js/crypto.js" type="text/javascript"></script> -->
    <script>
      document.getElementById('userName').innerHTML = sessionStorage.getItem('loggedInUSername')
      
              // window.addEventListener('beforeunload', (event) => {
              //   event.preventDefault();
              //   logout()
              //   event.returnValue = '';
              // });
      
              // code is taken from https://developers.facebook.com/docs/facebook-login/web/
          window.fbAsyncInit = function() {
                FB.init({
                  appId      : '242013298711294',
                  cookie     : true,                     // Enable cookies to allow the server to access the session.
                  xfbml      : true,                     // Parse social plugins on this webpage.
                  version    : 'v6.0'           // Use this Graph API version for this call.
                });
      
              };
      
              function  logout() {
                  FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
                      if (response.status === 'connected') { 
                          clearPublicKey()
                  
                          FB.logout(function(response) {
                    // user is now logged out
      
                    
                    window.location.assign("/");  
                    console.log('in  FB.logout logout method')
                  });
                } 
                
                });
                 
              }
      
          </script>
</head>

<body>
    <div class="message-container">
      <h2>Create New Message</h2>
      <div><button onclick="navigate('readMsg')">view messages</button></div>
        <div id="messageForm">
        
            <div class="input-group">
                <label for="recipient">Recipient:</label>
                <input type="text" id="recipient" name="recipient" required>
                <button class="submit-button" onclick="checkUserAvailabliity()">Check Availability</button>
                <div id="userNotFound"></div>
            </div>
            <div class="input-group" id="message-area">
                <label for="message">Message:</label>
                <textarea id="message" name="message" ></textarea>
            </div>
            <button class="submit-button" onclick="sendMsg()" id="send-btn">Send Message</button>
          </div>
    </div>


</body>

</html>