<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- For CLoud Uncomment -->
    <link rel="stylesheet"  href= "{{ url_for('static',filename='css/global.css') }}">
    <script src="{{ url_for('static', filename='js/crypto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

    <!-- FOr local -->

    <!-- <link rel="stylesheet"  href= "../static/css/global.css">
    <script src="../static/js/app.js" type="text/javascript"></script> -->
    <title>Message Inbox</title>

</head>

<body>
    <div class="message-box">
        <h2>Welcome, YourUsername!</h2>
        <button onclick="javascript:logout();">Logout from Facebook</button>
        <div><button onclick="navigate('createMsg')">+</button></div>
        <br>
        <div id="messages"></div>
    </div>

    <script>
        // window.addEventListener('beforeunload', (event) => {
        //   event.preventDefault();
        //   logout()
        //   event.returnValue = '';
        // });
    window.fbAsyncInit = function() {
          FB.init({
            appId      : '242013298711294',
            cookie     : true,                     // Enable cookies to allow the server to access the session.
            xfbml      : true,                     // Parse social plugins on this webpage.
            version    : 'v6.0'           // Use this Graph API version for this call.
          });

        };
        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
          console.log('statusChangeCallback');
          console.log(response);                   // The current login status of the person.
          if (response.status === 'connected') { 
            getUSerData(response.authResponse)  // Logged into your webpage and Facebook.
            testAPI();  
          } else {                                 // Not logged into your webpage or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
              'into this webpage.';
              // window.location.assign("/templates/userMsgs.html");  // remove line later
          }
        }

        function  logout() {
            console.log('in logout method')
            FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
                if (response.status === 'connected') { 
                    clearPublicKey()
            
                    FB.logout(function(response) {
              // user is now logged out
              
              localStorage.clear();
              sessionStorage.clear();
              
              window.location.assign("");  
              console.log('in  FB.logout logout method')
            });
          } else {                                 // Not logged into your webpage or we are unable to tell.
            // document.getElementById('status').innerHTML = 'Please log ' +
            //   'into this webpage.';
            //   // window.location.assign("/templates/userMsgs.html");  // remove line later
          }
           
            // Returns the login status.
          });
           
        }


        async function fetchMessages() {
            try {
                const response = getMsgsForUser('');
                

                const messagesDiv = document.getElementById('messages');
                messagesDiv.innerHTML = '';

                if (data.messages.length === 0) {
                    messagesDiv.innerHTML = '<p> No messages yet. </p>';
                } else {
                    data.messages.forEach((message) => {
                        const messageItem = document.createElement('div');
                        messageItem.classList.add('message-item');
                        messageItem.innerHTML = `
              <p>From: ${message.sender}</p>
              <p>${message.message}</p>
            `;
                        messagesDiv.appendChild(messageItem);
                    });
                }
            } catch (error) {
                console.error('Failed to fetch messages:', error);
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            // fetchMessages();
            getMsgsForUser();
        });
    </script>
</body>

</html>